{sub_dirs, ["rel"]}.
{port_specs, [
        {"priv/mydef.so", ["c_src/mydef.c"], [{env, [{"CC", "gcc"}]}]},
        {"priv/testnif.so", ["c_src/testnif.c"]}
    ]}.
%% , [{env, ["CC", "gcc -fPIC -bundle -flat_namespace -undefined suppress -I/usr/local/mysql/include"]}]
%%  [{env, ["CC", "gcc -fPIC -bundle -flat_namespace -undefined suppress -I/usr/local/lib/erlang/erts-5.9/include/"]}]
{port_env, [
        %% {"CFLAGS", "$CFLAGS -I/usr/local/mysql/include"}
        {"CC", "gcc -I/usr/local/mysql/include"}
    ]}.
%% == Port Compiler ==

%% Port compilation environment variables. See rebar_port_compiler.erl for
%% more info. Default is `[]'
%% {port_env, [
%%         {"CFLAGS", "$CFLAGS -arch x86_64 -g -Os -pipe -no-cpp-precomp"},
%%         %%{"CFLAGS", "-fPIC -bundle -flat_namespace -undefined suppress -I/usr/local/lib/erlang/erts-5.9/include/"},
%%             ]}.

%% port_specs
%% List of filenames or wildcards to be compiled. May also contain a tuple
%% consisting of a regular expression to be applied against the system
%% architecture as a filter.
%% {port_specs, [{"priv/so_name.so", ["c_src/*.c"]},
%%               {"linux", "priv/hello_linux", ["c_src/hello_linux.c"]},
%%               {"linux", "priv/hello_linux", ["c_src/*.c"], [{env, []}]}]}.
%% 

%% Erlang compiler options
{erl_opts, [debug_info,
        {i, "include"}
        %% {outdir, "ebin"},
        %% {src_dirs, [
        %%         'src/*'
        %%         ,'src/crontab/*'
        %%         ,'src/data/*'
        %%         ,'src/json/*'
        %%         ,'src/mysql/*'
        %%         ,'src/test/*'
        %%         ,'src/pt/*'
        %%         ,'src/mod/*'
        %%         ,'src/lib/*'
        %%     ]}
        %% {platform_define, "(linux|solaris|freebsd|darwin)", 'HAVE_SENDFILE'}
        %% {platform_define, "darwin", 'HAVE_SENDFILE'}
    ]
}.

%% vim: ft=erlang :
