[
    {myserver, [
            {version_type, dev}
            ,{server_key, "23d7f859778d2093"}
            ,{server_id, 1}
            ,{tcp_port, 8100}
            ,{robot_accounts, [1, 200]}
            ,{online_max, 20000}
            ,{platform, tx}
            ,{tcp_acceptor_num, 10}
            ,{tcp_options, [
                    binary
                    ,{packet, 0}
                    ,{active, false}
                    ,{reuseaddr, true}
                    ,{nodelay, true}
                    ,{delay_send, false}
                    ,{exit_on_close, false}
                    ,{send_timeout, 10000}
                    ,{send_timeout_close, false}
                ]
            }
            ,{tcp_options_flash_843, [
                    binary
                    ,{packet, 0}
                    ,{active, false}
                    ,{reuseaddr, true}
                    ,{exit_on_close, false}
                ]
            }
            ,{flash_policy_file, <<"<cross-domain-policy><allow-access-from domain='*' to-ports='*' /></cross-domain-policy>">>}
            ,{db_host, "127.0.0.1"}
            ,{db_port, 3306}
            ,{db_user, "dolotech"}
            ,{db_pass, "dolotech"}
            ,{db_name, "myserver"}
            ,{db_encode, utf8}
            ,{db_connector_num, 12}
        ]},
    {sasl, [	 
            {sasl_error_logger, false},
            {errlog_type, error},
            {error_logger_mf_dir,"log"},
            {error_logger_mf_maxbytes,10485760},
            {error_logger_mf_maxfiles, 5},
            {overload_max_intensity, 11},
            {overload_weight, 0.1}
        ]}
].

%%% vim: set foldmethod=marker filetype=erlang foldmarker=%%',%%.:
